.add-container input {
    padding: 5px;
    border-radius: 5px;
}

.custom-btn{
    background-color: #72adf1;
    width: 25%;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    border: none;
}
.custom-btn:hover {
    color: black;
}

@media only screen and (max-width: 678px) {
    .custom-btn{
        width: 100%;
    }
}